<div class="row p-4">
  <div class="col" style="max-width: 300px;">
    <div class="sticky-top">
      <app-nav-bar (openPage)="getCurrentPage($event)"></app-nav-bar>
    </div>
  </div>
  <div class="col">
    <app-home *ngIf="currentPage == 'Home'"></app-home>
    <app-explore *ngIf="currentPage == 'Explore'"></app-explore>
    <app-reels *ngIf="currentPage == 'Reels'"></app-reels>
    <app-messages *ngIf="currentPage == 'Messages'"></app-messages>
    <app-notifications *ngIf="currentPage == 'Notifications'"></app-notifications>
    <app-create *ngIf="currentPage == 'Create'"></app-create>
    <app-profile *ngIf="currentPage == 'Profile'"></app-profile>
    <app-task-manager *ngIf="currentPage == 'Task Manager'"></app-task-manager>
    <app-more *ngIf="currentPage == 'More'"></app-more>
  </div>
</div>