<div id="loginForm" style="display: block;">
    <div class="container col d-flex justify-content-center shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 40rem;">
        <div>
            <div class="row" style="max-width: 20rem;">
                <img src="https://img.freepik.com/premium-vector/ecommerce-logo-design_624194-152.jpg?w=2000" alt="E-Commerce" style="height: 200px; width: 200px;">
                <div style="margin-bottom: 30px;" class="d-flex justify-content-center">
                    <b>Enter Your Login Credentials.</b>
                </div>
                <label for="uname">User name:</label>
                <input class="ms-2" type="text" placeholder="Enter User name" name="uname" required [(ngModel)]="userText.user">
            </div>
            <div class="row mt-2" style="max-width: 20rem;">
                <label for="pass">Password:</label>
                <input class="ms-2" type="password" placeholder="Enter Password" name="pass" required [(ngModel)]="userText.pass">
            </div>
            <div *ngIf="message">
                {{ message }}
              </div>
            <div class="mt-2 d-flex justify-content-center">
                <button type="submit" (click)="userLogin()">Login</button>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <span class="me-1">Not Registered?</span>
                <a href="#" class="text-decoration-none" id="FormToCreateAccount" (click)="showCreateAccount()">Create account</a>
            </div>
        </div>
    </div>
</div>


<!-- ______________________________________________________________________________________________________________________________________________________________________ -->


<div id="formToCreate" style="display: none;">
    <div  class="container col d-flex justify-content-center shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 40rem;">
        <div>
            <div class="row" style="max-width: 20rem;">
                <img src="https://img.freepik.com/premium-vector/ecommerce-logo-design_624194-152.jpg?w=2000" alt="E-Commerce" style="height: 200px; width: 200px;">
                <div style="margin-bottom: 30px;" class="d-flex justify-content-center">
                    <h1>Create account.</h1>
                </div>
                <label for="username">User name:</label>
                <input class="ms-2" id="UserName" type="text" placeholder="Enter your User name" name="username" required [(ngModel)]="userText.user">
            </div>
            <div class="row mt-2" style="max-width: 20rem;">
                <label for="password">Password:</label>
                <input class="ms-2" id="PassWord" type="password" placeholder="Create Your Password" name="password" required [(ngModel)]="userText.pass">
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button type="submit" (click)="createAccount()">Create Account</button>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="#" class="text-decoration-none" id="BackToLogin" (click)="backToLogin()">back to login Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- _____________________________________________________________________________________________________________________________________________________________________ -->

<div id="e-website" style="display: none;">
    <nav class="nav mb-4">
        <a href="#" class="nav-link">Items</a>
        <a href="#" class="nav-link">Cart</a>
        <a href="#" class="nav-link">Account</a>
    </nav>

    <!-- Items  -->
    <div class="container">
        <div class="row">
            <div class="col-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart  -->
     <div class="container">

     </div>

     <!-- Account -->
     <div class="container">

     </div>

</div>